<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
   
    <%- include('partials/navbar') %>
   <hr>
    <p  style="font-size: 99px;" align="center">Login Truco</p>

    <br><br><br>

    <form align="center">
        <div class="container">
            <label for="uname"><b>Usuario: </b></label>
            <input type="text" placeholder="Inserte Usuario" name="uname" required>
        
            <label for="psw"><b>Contraseña: </b></label>
            <input type="password" placeholder="Inserte Contraseña" name="psw" required>
        
            <button type="submit">Login</button>
          </div>
    </form>


</body>
</html>